<header class="site-header">
  <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-5 pure-hidden-sm pure-hidden-xs">
        &nbsp;
      </div>
      <div class="pure-u-1 pure-u-md-1-5">
        <div id="logo-container">
          <a href="/" class="logo-link">
            <div id="logo">
            </div>
          </a>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-5 pure-hidden-sm pure-hidden-xs">
        &nbsp;
      </div>
      <div class="pure-u-1 pure-u-md-2-5">
        <div class="site-header-right">

          <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li
              {% if  page.title == "About" %}
                class="pure-menu-selected"
              {% endif %}
              >
                <a href="/about/">简介/about</a>
              </li>
              <li>
                <a target="_blank" href="/subscribe/">订阅/subscribe</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
  </div>
</header>
