<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.5.0/pure-min.css">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->

    <!--web font -->
    <!-- // <script src="//use.edgefonts.net/lato.js"></script> -->

    {% stylesheet app %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
