@charset "utf-8";

@import "bourbon";

@import "mods/font";

$body-bg-color: white;

$header-description-color: rgb(105, 105, 105);
$header-link-color: rgb(80, 80, 80);
$header-bg-color: #ddd;
$header-site-title-color: #111;


$footer-bg-color: rgb(245, 245, 245);
$footer-color: #999;

body {
  background-color: $body-bg-color;
  //  for sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section#main {
  flex: 1;
}

.site-header {
  background-color: $header-bg-color;
  border-bottom: 2px solid #eee;

  .site-title h1 {
    font-size: 1.5em;
    text-align: center;

    a {
      color: $header-site-title-color;
      text-decoration: none;

      &:visited {
        color: $header-site-title-color;
      }

      &:hover {
        color: lighten($header-site-title-color, 30%);
      }

    }
    
  }

  .site-description {
    p {
      color: $header-description-color;
      font-size: 1em;
      padding: 5px 20px;
    }
  }
  
  nav {
    ul {
      padding: 0 1em;

      li {
        display: inline-block;
        margin-right: 4px;

        a {
          font-size: 0.9em;
          font-weight: 700;
          color: $header-link-color;
          text-decoration: underline;

          &:hover {
            @include transition (all 1s ease);
            color: lighten($header-link-color, 30%);
            text-decoration: none;
          }
        }
      }

    }
  }
}

footer {
  font-size: 87.5%;
  border-top: 1px solid #eee;
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 1em 5em;
}

.post {
  margin: 1em 4em;

  h2 {
    font-size: 1.2em;
  }

}


@media (max-width: 48em) {
  .post {
    margin: 1em 1em;
  }
}