@charset "utf-8";


@import "bourbon";
@import "mods/font";

$body-bg-color: white;

$header-description-color: rgb(105, 105, 105);
$header-link-color: rgb(80, 80, 80);
$header-bg-color: white;
$header-site-title-color: #111;

$footer-bg-color: rgb(160, 160, 160);
$footer-color: rgb(240, 240, 240);

$link-color: rgb(250, 250, 250);
$link-bg-color: rgb(40, 40, 40);

#logo {
  width: 300px;
  margin: 0 auto;
}

body {
  background-color: $body-bg-color;
  //  for sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
//
section#main {
  flex: 1;
}

#main {
  a {
    color: $link-color;
    background-color: $link-bg-color;
    text-decoration: none;
    border: solid 1px #aaa;

    &:hover {
      background-color: lighten($link-bg-color, 30%);
      text-decoration: none;
      border: solid 1px #aaa;
    }
  }  
}

.site-header {
  min-height: 150px;
  padding-top: 0.2em;
  background-color: $header-bg-color;
//  border-bottom: 1px solid #ADADA8;

  .site-title h1 {
    font-family: Helvetica, Tahoma, Arial, STXihei;
    font-size: 1.5em;
    text-align: center;

    a {
      color: $header-site-title-color;
      text-decoration: none;

      &:visited {
        color: $header-site-title-color;
      }

      &:hover {
        color: lighten($header-site-title-color, 30%);
      }

    }
    
  }

  .site-description {
    p {
      color: $header-description-color;
      font-size: 1em;
      padding: 5px 20px;
    }
  }
  
  nav {
    padding-top: 30px;

    ul {
      padding: 0 1em;

      li {
        display: inline-block;
        margin-right: 4px;

        a {
          font-size: 0.9em;
          font-weight: 700;
          color: $header-link-color;
          text-decoration: none;

          &:hover {
            @include transition (all 1s ease);
            color: lighten($header-link-color, 30%);
            text-decoration: underline;
          }
        }
      }

    }
  }
}

footer {
  border-top: 1px solid #555C58;
  background-color: $footer-bg-color;
  color: $footer-color;
  padding: 1em 4em;

  p {
    font-size: 1.2em;
  }

  .icon-list {
    margin: 1em 0;
    padding: 0;
    text-align: right;
    list-style-type: none;
    font-size: 1.2em;

    li {
      display: inline-block;
      padding: 0 0.1em;

      a {
        color: $footer-color;

        &:hover {
          color: lighten($footer-color, 40%);
        }
      }

    }
  }

}

.post {
  margin: 1em 4em;

  .post-header {
    .post-title {
      color: #999;
      font-size: 1.2em;
    }
  }
}

.site-header-right {
  margin-left: 50px;
}

@media (max-width: 48em) {
  .site-header-right {
    margin-left: 0;
  }

  .post {
    margin: 1em 1em;
  }

  footer {
    padding: 1em 1em;

    p {
      text-align: center;
    }

    .icon-list {
      text-align:center;
    }
  }
  
}

@import "home"