---
layout: default
---
<div class="event">
  <header class="event-header">
    <h1 class="event-title">{{ page.title }}</h1>
    <div class="event-poster">
      <img class="pure-img post-img" src="/poster/{{page.poster}}">
    </div>
    <p class="event-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="pure-g">
    <div class="pure-u-1">
      <article class="event-content">
        {{ content }}
      </article>
      <a href="/" class="go-home"><i>回首页/home</i></a>
    </div>
  </div>
</div>
